%h3
  Ordering from
  = @order.restaurant.name
  %span.label.label-info.large
    .icon-phone
      = @order.restaurant.phone
  
%br
%br
.span4.offset1
  %table.table.table-hover
    - @order_items.each do |item|
      %tr
        %td
          = item.item_quantity
        %td
          = Item.find(item.item_id).name
        %td
          .pull-right
            = number_to_currency(Item.find(item.item_id).price * item.item_quantity, unit: "EGP", format: "%n %u")
            - @order_total += Item.find(item.item_id).price * item.item_quantity
    %tr.info
      %td
        &nbsp;
      %td
        &nbsp;
      %td
        .pull-right
          = number_to_currency(@order_total, unit: "EGP", format: "%n %u")
    %tr
      %td
        &nbsp;
      %td
        &nbsp;
      %td
        .pull-right
          - if current_user == @order.user && @order.order_status == "open"
            = link_to "Close", close_order_order_path(id: params[:id]) , class: "btn btn-primary"