= form_for @restaurant, :html => {multipart: true} do |f|
  - if @restaurant.errors.any?
    .alert.alert-error.span9
      %strong
        = pluralize(@restaurant.errors.count, "error")
        prohibited saving this restaurant
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li
            = msg
  .control-group
    .control-label
      = f.label :name
    .controls
      = f.text_field :name
  
  .control-group
    .control-label
      = f.label :description
    .controls
      = f.text_area :description, rows: 6
  
  .control-group
    .control-label
      = f.label :address
    .controls
      = f.text_area :address, rows: 6

  .control-group
    .control-label
      = f.label :phone
    .controls
      = f.text_field :phone
  
  .control-group
    .control-label
      = f.label :minimum_charge
    .controls
      = f.text_field :minimum_charge
  
  .control-group
    .control-label
      = f.label :manager_id
    .controls
      = f.text_field :username, data: { provide: :typeahead, url: users_path }

  .control-group
    .controls
      .media
        .pull-left
          .media-object
            = image_tag @restaurant.logo_url(:thumb).to_s if @restaurant.logo
        .media-body
          .media-heading
            %h5 
              Change it?
            = f.file_field :logo

  / .control-group
  /   .control-label
  /     .media
  /       = link_to current_entity_profile_path do
  /         = image_tag current_entity.avatar.icon.url
  /         = current_entity.name
  /       = f.label :manager_id
  /   .controls
  /     = f.text_field :username, data: { provide: :typeahead, url: users_path }

  .form-actions
    = link_to "Cancel", :back, :class => "btn"
    = f.submit "Save", :class => "btn btn-primary"