.span9
  %h2
    = image_tag @restaurant.logo_url(:thumb).to_s, class: "img-rounded" if @restaurant.logo_url
    = @restaurant.name
    %span.label.label-info.large
      .icon-phone
        = @restaurant.phone
  %br
  .well.clearfix
    = @restaurant.description
    %br
    %br
    %strong Address:
    = @restaurant.address
    %br
    %strong Minimum Charge:
    = @restaurant.minimum_charge

  %p
  %h4 Restaurant items
  - if @active_items.present?
    %table.table.table-hover
      %thead
        %tr
          %th.span5 Name
          %th.span2 Price
          %th.span2 &nbsp
      %tbody
        - for item in @active_items
          %tr
            %td
              = item.name
              <br/>
              %small
                = item.description
            %td
              = number_to_currency(item.price, unit: "EGP", format: "%n %u")
            %td
              .btn-group
                = link_to "Add to cart", add_to_cart_restaurant_item_path(restaurant_id: @restaurant.id, id: item.id), remote: true, class: "btn btn-mini"
                = link_to "Subtract from cart", subtract_from_cart_restaurant_item_path(restaurant_id: @restaurant.id, id: item.id), remote: true, class: "btn btn-mini"
= render 'restaurants/cart'