%h2
  Edit 
  = @item.name

= form_for [:restaurant, @item] do |f|
  - if @item.errors.any?
    .alert.alert-error.span9
      %h3
        = pluralize(@item.errors.count, "error")
        prohibited saving this item:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li
            = msg

  %p
    = f.label :name
    = f.text_field :name

  %p>
    = f.label :description
    = f.text_area :description, :rows => "6"

  %p
    = f.label :price
    = f.text_field :price

  %p
    = f.submit "Update", :class => "btn btn-submit"


  %p
    = link_to "Back to #{@restaurant.name}", restaurant_path(@restaurant)











